.userNotifyer
{
	h3 
	{
		overflow: hidden;
		padding: 20px 0px 20px 0px;
		span 
		{
			position: relative;
			top: 10px;
		}
	}
	.clearHistoryBtn
	{
		font-size: 13px;
		float: right;
		background-color: transparent;
		&:hover
		{
			background-color: #01a7e6;
		}
	}
}

@media only screen and (min-width: 1200px) 
{
	.userNotifyer
	{
		h3 
		{
			font-size: 22px;
		}
	}
}

@media only screen and (max-width: 1200px) 
{
	.userNotifyer
	{
		h3 
		{
			font-size: 22px;
		}
	}
}

@media only screen and (max-width: 992px) 
{
	.userNotifyer
	{
		h3 
		{
			font-size: 20px;
		}
	}
}

@media only screen and (max-width: 768px) 
{
	.userNotifyer
	{
		h3 
		{
			font-size: 18px;
		}
	}
}

@media only screen and (max-width: 601px) 
{
	.userNotifyer
	{
		h3 
		{
			font-size: 16px;
		}
	}
}